<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% block title %}

    {% endblock %}
<style>
	*{
		margin:0;
		padding:0;
	}
	.nva{
		width:1534px;
		height:50px;
		margin:0 auto;
        border:1px solid red;
	}
	ul{
		list-style:none;
	}
	div ul li{
		float:left;
		height:50px;
		width:383.5px;
		text-align:center;
		line-height: 50px;
	}
	div ul li a{
		display:block;
		width:383.5px;
		height:50px;
	}
	div ul li a:link,div ul li a:visited{
		text-decoration:none;
		background-color: purple;
		color:white;
	}
	div ul li a:hover{
		background-color: orange;
	}
</style>
</head>
<body>
<center>
    <h2>
        后台数据列表
    </h2>
    <a href="{% url 'dologout' %}" style="
    position: absolute;
    text-decoration:none;
    top: 5px;
    right: 5px;
    width: 100px; /* 宽度 */
	height: 25px; /* 高度 */
	border-width: 0; /* 边框宽度 */
	border-radius: 3px; /* 边框半径 */
	background: purple; /* 背景颜色 */
	cursor: pointer; /* 鼠标移入按钮范围时出现手势 */
	outline: none; /* 不显示轮廓线 */
	color: white; /* 字体颜色 */
	font-size: 17px; /* 字体大小 */">退出登录</a>
    <div class="nva">
        <ul>
            <li><a href="{% url 'admin_index' %}">首页</a></li>
            <li><a href="{% url 'admin_showdata' 1 %}">管理自习信息</a></li>
            <li><a href="{% url 'admi_adddata' %}">管理自习室信息</a></li>
            <li><a href="{% url 'manage_user' %}">管理用户信息</a></li>

        </ul>
    </div>

<br/>

<hr/>

</center>
{% block content %}

{% endblock %}
</body>
</html>