{% extends 'myapp/admin_base.html' %}

{% block title %}
<title>添加自习信息</title>
{% endblock %}

{% block content %}
<nav style="width: 600px;
	height: 480px;
	border: 5px;
	border-radius: 5px;
	background-color:#fff;
	justify-content: center;
	display: flex;
	box-shadow: 0 0 3px 1px rgba(0,0,0,.7);
	background-color: #C4C4C4;
	margin-top: 70px;
    position: absolute;
    margin-left: 450px">
    <center>
    <form action="{% url 'admi_addroom' %}" method="post">
        {% csrf_token %}
        <table>
            <tr>
                <td style="font-size: 20px;font-family: Arial, Helvetica, sans-serif">自习室名:</td>&nbsp;
                <td><input style="display: flex;width: 320px;height: 40px;border-radius: 5px;border-top-color: #1F4764;" type="text" name="room_id1" placeholder="自习室名称"/></td>
            </tr>
            <tr>
                <nav style="display: flex;margin-top: 70px;">
                <td style="font-size: 20px;font-family: Arial, Helvetica, sans-serif;">自习室状态:</td>
                <td><input style="display: flex;width: 320px;height: 40px;border-radius: 5px;border-top-color: #1F4764;"type="text" name="room_statu1" placeholder="自习室状态"/></td>
                </nav>
            </tr>
            <tr>
                <td style="font-size: 20px;font-family: Arial, Helvetica, sans-serif">自习室容纳量:</td>
                <td><input style="display: flex;width: 320px;height: 40px;border-radius: 5px;border-top-color: #1F4764;"type="text" name="allow_num1" placeholder="自习室容量"/></td>
            </tr>
            <tr>
                <td style="font-size: 20px;font-family: Arial, Helvetica, sans-serif">自习开放时间:</td>
                <td><input style="display: flex;width: 320px;height: 40px;border-radius: 5px;border-top-color: #1F4764;"type="datetime-local" name="open_starttime1" placeholder="自习开放时间"/></td>
             <tr>
                <td style="font-size: 20px;font-family: Arial, Helvetica, sans-serif">自习结束时间:</td>
                <td><input style="display: flex;width: 320px;height: 40px;border-radius: 5px;border-top-color: #1F4764;" type="datetime-local" name="open_endtime1" placeholder="自习结束时间"/></td>
            </tr>
        </table><br>
     <nav style="display: flex;flex-direction: row;margin-left:80px;margin-top: 20px;" >
    <input style="display: flex;width: 100px;height: 45px;border-radius: 10px; text-align: center; vertical-align:center;background-color: white;color: black;font-weight: bolder"  type="submit"   value="提交自习室"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
         <nav style="display: flex;margin-left: 80px;">
        <input style="display: flex;width: 100px;height: 50px;border-radius: 10px;text-align:center;vertical-align:center;color:white;color: black;font-weight: bolder" type="reset" value="重新输入"/>&nbsp;
             </nav>
     </nav>


    </form>

    </center>
</nav>

{% endblock %}