<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>修改信息</title>
</head>
<body>
<form action="{% url 'message_editing' id %}" method="post">
    {% csrf_token %}
<table>
    <tr>
        <td>发布时间：</td>
        <td><input type="datetime-local" name="message_time" value={{ message_time }} /></td>
    </tr>
     <tr>
        <td>消息内容：</td>
        <td><textarea name="message_content" rows="4" cols="50" >{{ message_content }}</textarea></td>
    </tr>
    </table><br/>
<input type="submit" value="修改"/>&nbsp;&nbsp;&nbsp;&nbsp;
<input type="reset" value="重置"/>
</form>
</body>
</html>